{% extends 'base.html' %}
{% block body %}
<div class="container-fluid mx-auto">
    <p class="h1 text-start">
        PrioriTask
    </p>
</div>

<div class="container m-2">
    <figure class="text-start">
        <blockquote class="blockquote">
            <p>The key is not to prioritize what's on your schedule, but to schedule your priorities.</p>
        </blockquote>
        <figcaption class="blockquote-footer">
            Stephen Covey
        </figcaption>
    </figure>
</div>
<div class="container ">
    <div class="row d-flex align-items-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <p class="h2 text-decoration-underline">
                        About PrioriTask
                    </p>
                    PrioriTask is a powerful and easy-to-use task management application that helps users stay organized and
                    productive. It offers a clean and intuitive interface that makes it easy to create, track, and prioritize
                    tasks.
                    <p class="h4 text-start text-decoration-underline">
                        Features of PrioriTask
                    </p>
                    <div class="container text-start">
                        <ul>
                            <li>Display tasks in a clean and easy-to-understand format
                            </li>
                            <li>Add new tasks quickly and easily
                            </li>
                            <li>Update tasks with due dates, priorities, and other details
                            </li>
                            <li>Delete tasks that are no longer needed</li>
                            <li></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <p class="h2 text-decoration-underline">
                        About Me
                    </p>
                    <p class="my-2">My name is Vainavi Nair, and I'm a 20-year-old student currently pursuing a Bachelor's degree in Computer Science. I'm in my fourth semester and thoroughly enjoying learning new concepts and ideas related to the field of computer science.</p>
                    <p class="my-2">I am currently focused on expanding my knowledge in the field of computer science. I am passionate about learning new programming languages, software development methodologies, and exploring new technologies.<br></p>     
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container my-4 text-center">
    <a href="/" type="button" class="btn btn-outline-dark px-5">
        Go Home
    </a>
</div>
{% endblock body %}