<!-- deaher,footer -->


{% extends 'base.html' %}
{% block body %}
    

    <div class="container my-3">
        <h2>Update Task</h2>
        <form action="/update/{{todo.sno}}" method="post">
            <div class="mb-3">
                <label for="title" class="form-label">Task Name</label>
                <input type="text" name='title' class="form-control" id="title" aria-describedby="emailHelp" value="{{todo.title}}">

            </div>
            <div class="mb-3">
                <label for="desc" class="form-label">Task Description</label>
                <input type="text" name='desc' class="form-control" id="desc" value="{{todo.desc}}">
            </div>

            <div class="mb-3">
                <label for="due">Due Date</label>
                <input type="date" id="due" name="due" required value="{{todo.due_date}}">
            </div>

            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>

    {% endblock body %}
